<div class="task-board-container" cdkDropListGroup>
  <div class="task-column">
    <h2>To Do</h2>
    <div
      cdkDropList
      id="TO_DO"
      [cdkDropListData]="todo"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-card"
        *ngFor="let task of todo"
        cdkDrag
        (click)="openTaskModal(task)"
      >
        <div class="task-card-title">{{ task.title }}</div>
      </div>
    </div>
  </div>
  <div class="task-column">
    <h2>In Progress</h2>
    <div
      cdkDropList
      id="IN_PROGRESS"
      [cdkDropListData]="inProgress"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-card"
        *ngFor="let task of inProgress"
        cdkDrag
        (click)="openTaskModal(task)"
      >
        <div class="task-card-title">{{ task.title }}</div>
      </div>
    </div>
  </div>
  <div class="task-column">
    <h2>Done</h2>
    <div
      cdkDropList
      id="DONE"
      [cdkDropListData]="done"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="task-card"
        *ngFor="let task of done"
        cdkDrag
        (click)="openTaskModal(task)"
      >
        <div class="task-card-title">{{ task.title }}</div>
      </div>
    </div>
  </div>
</div>

<app-task-detail-modal
  *ngIf="selectedTask"
  [task]="selectedTask"
  (close)="closeTaskModal()"
  (taskUpdated)="handleModalUpdate()"
>
</app-task-detail-modal>
